@model VotadorWeb.ViewModels.RecursoViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RecursoViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TituloRecurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TituloRecurso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoRecurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoRecurso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroVotacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroVotacao)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) 
    <a class="btn" supress-by-claim-name="Recurso" supress-by-claim-value="Editar" asp-controller="RegistroVotacoes" asp-action="Create" asp-route-id="@Model.Id"><spam class="fa fa-pencil-alt"></a>
    <a asp-action="Index">Back to List</a>
</div>
