@model VotacaoWeb.ViewModels.RecursoViewModel

@{
    ViewData["Title"] = "Detalhes do Recurso";
}

<h3>@ViewData["Title"]: @Html.DisplayFor(model => model.TituloRecurso)</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.TituloRecurso)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.TituloRecurso)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.DescricaoRecurso)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.DescricaoRecurso)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.NumeroVotacao)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.NumeroVotacao)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Create">Create New</a>*@
    <a class="btn btn-info" asp-action="Index" title="Voltar">Voltar <i class="fa fa-reply" aria-hidden="true"></i></a>
    <a class="btn btn-info" asp-controller="RegistroVotacoes" asp-action="Create" asp-route-id="@Model.Id" title="Votar nesse Recurso">Votar nesse Recurso <i class="fa fa-archive" aria-hidden="true"></i></a>
</div>

